@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* global styles started */
:root{
    --darkOne: rgba(13, 19, 33, 1);
    --darkTwo: rgba(13, 19, 33, 0.7);
    --lightColor: rgba(255, 255, 255, 1);
  }
  
  *{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
  }
  
  h2{
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 0%;
    color: var(--darkOne);
  }
  /* global styles ended */

  /* nav section satyles started */
  #nav_section{
    width: 1440px;
    height: 130px;
    margin: 0 auto;
    padding: 0px 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav_section p{
      color: var(--darkOne);
      font-size: 28px;
      font-weight: 800;
      letter-spacing: 0%;
      text-align: left;
    }
    
    #nav_section button{
        border: 1px solid var(--darkOne);
        opacity: 0.8;
        border-radius: 8px;
        background-color: var(--lightColor);
        padding: 17px 24px;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;
    }
    
    /* nav section satyles ended */

    /* banner section styles started */
    #banner_section{
        width: 1440px;
        height: 652px;
        background-image: url(../assets/Hero-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        padding: 0px 221px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
        border: 1px solid red;
    }
    
    #banner_section img{
        width: 240px;
        height: 240px;
    }

    #banner_section h1{
        color: var(--darkOne);
        font-size: 48px;
        font-weight: 800;
        line-height: 68px;
        letter-spacing: 0%;
        text-align: center;
    }

    #banner_section p{
        color: var(--darkTwo);
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 24px;
    }
    
    #banner_section button{
        width: 244px;
        height: 65px;
        border: none;
        border-radius: 8px;
        background-color: var(--darkOne);
        color: var(--lightColor);
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        cursor: pointer;
    }
    /* banner section styles ended */